<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>ECSDI</title>
  </head>
  <body>
      <div align="center">
        <h1>Planificador de viajes</h1>
        <form method="POST">
            <p>Ciudad origen:</p><input name="ciudadOrigen">
            <p>Ciudad destino:</p><input name="ciudadDestino">
            <p>Data ida (Format YYYY-MM-DD):</p><input name="dataIda">
            <p>Data vuelta (Format YYYY-MM-DD):</p><input name="dataVuelta">
            <p>Precio hotel:</p><input name="precioHotel">
            <p>Estrellas hotel:</p><input name="estrellas">
            <p>Numero habitaciones:</p><input name="roomQuantity">
            <p>Adultos:</p><input name="adults">
            <p>Distancia del centro(KM):</p><input name="radius">
            <input type="submit">
        </form>
      </div>
  </body>
</html>