<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>ECSDI</title>
  </head>
	<body>
    <div align="center">
        <h1> Datos del viaje </h1>
		    <!-- INFORMACION DE LOS HOTELES --> 
        <div>
          {% if displayData.error == 0 %}
            <h3> Transporte </h3>
            <p> Ciudad origen: {{  displayData.ciudadOrigen }} </p>
            <p> Ciudad destino: {{  displayData.ciudadDestino }} </p>
            <p> Fecha ida: {{  displayData.fechaIda }} </p>
            <p> Fecha vuelta: {{  displayData.fechaVuelta }} </p>
            <h3> Hotel </h3>
            <p> Nombre hotel: {{  displayData.nombreHotel }} </p>
            <p> Dirección hotel: {{  displayData.direccion }} </p>
            <h3> Actividades </h3>
            <p> Nombre actividad: {{  displayData.nombreActividad }} </p>
          {% else %}
          <h3> Error </h3>
            <p> {{ displayData.errorMessage }} </p>
          {% endif %}
        </div>
      </div>
	</body>
</html>
