<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>ECSDI</title>
  </head>
	<body>
    <div align="center">
        <h1> Datos del viaje </h1>
		    <!-- INFORMACION DE LOS HOTELES --> 
        <h3> Hoteles</h3>
		    <p> Ciudad origen: {{  hotelData.ciudadOrigen }} </p>
		    <p> Ciudad destino: {{  hotelData.ciudadDestino }} </p>
        <p> Data ida: {{  hotelData.dataIda }} </p>
		    <p> Data vuelta: {{  hotelData.dataVuelta }} </p>
		    <p> Precio maximo:{{  hotelData.maxPrecio }} </p>
        <p> Precio minimo:{{  hotelData.minPrecio }} </p>
		    <p> Estrellas: {{  hotelData.estrellas }} </p>
      </div>
	</body>
</html>