<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>ECSDI</title>
    <style>
        div {
            margin-left: 2.0em;
        }
    </style>
  </head>
	<body>
        {% if displayData.error == 0 %}
            <h1>Viaje propuesto</h1>

            <h2>General</h2>
            <div>
                <p><b>Ciudad origen: </b>{{  displayData.ciudadOrigen }}</p>
                <p><b>Ciudad destino: </b>{{  displayData.ciudadDestino }}</p>
                <p><b>Fecha ida: </b>{{  displayData.fechaIda }}</p>
                <p><b>Fecha vuelta: </b>{{  displayData.fechaVuelta }}</p>
            </div>

            <h2>Vuelo</h2>
            <div>
                <p><b>Id. billete: </b>{{ displayData.idBillete }}</p>
                <p><b>Hora salida: </b>{{ displayData.horaSalidaBillete }}</p>
                <p><b>Hora llegada: </b>{{ displayData.horaLlegadaBillete }}</p>
                <p><b>Asiento: </b>{{ displayData.asientoBillete }}</p>
                <p><b>Clase: </b>{{ displayData.claseBillete }}</p>
                <p><b>Precio: </b>{{ displayData.precioBillete }} €</p>
            </div>

            <h2>Hotel</h2>
            <div>
                <p><b>Nombre hotel: </b>{{  displayData.nombreAloj }}</p>
                <p><b>Dirección hotel: </b>{{  displayData.direccionAloj }}</p>
                <p><b>Precio: </b> {{  displayData.precioAloj }}</p>
            </div>

            <h2>Actividades</h2>
            <div>
                <p><b>Actividades de mañana: </b>{{  displayData.actividadesManana }}</p>
                <p><b>Actividades de tarde: </b>{{  displayData.actividadesTarde }}</p>
                <p><b>Actividades de noche: </b>{{  displayData.actividadesNoche }}</p>
            </div>

        {% else %}
            <h1>Error</h1>

            <div>
            <p style="color: darkred">{{ displayData.errorMessage }}</p>
            </div>

        {% endif %}
	</body>
</html>
